{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container">

        
        {% if page.body %}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        {% endif %}
        
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
            {% for resource in resources %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ resource.title }}</h5>
                            <a href="{% pageurl resource %}" class="btn btn-primary mt-2">View Resource</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-info">No resources available at this time.</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %} 