{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/home-page.css' %}">

{% endblock %}



{% block content %}

{% block pre_content %}
    {% if page.notification_banner %}
        {% for block in page.notification_banner %}
            {% include_block block %}
        {% endfor %}
    {% endif %}
{% endblock %}

<!-- Floating Button (Fixed Position) -->
<a href="https://wa.link/4ick1r" 
   class="whatsapp-float" 
   target="_blank" 
   rel="noopener noreferrer">
   <img src="../../../media/images/2496112.png" alt="Chat on WhatsApp" width="60">
</a>



{% if page %}
    {% for translation in page.get_translations.live %}
        <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ translation.locale.language_code }}">
            {{ translation.locale.language_code }}
        </a>
    {% endfor %}
{% endif %}

    {% if page.header %}
        {% for block in page.header %}
        {% include_block page.header with template="blocks/hero_carousel_block.html" %}        {% endfor %}
    {% endif %}

    <div class="container home-content-container">
        <div class="row">
            <div class="col-12">
                
            {% for block in page.main_body %}
                {% if block.block_type == 'body' %}
                <div class="home-rich-content">
                    {% include_block block %}
                    <a href="#" class="home-cta">Learn More</a>
                </div>
                
                {% else %}
                {% include_block block %}
                {% endif %}
            {% endfor %}
            </div>
        </div>

        


    </div>
{% endblock content %}