{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/home-page.css' %}">

{% endblock %}



{% block content %}

{% block pre_content %}
    {% if page.notification_banner %}
        {% for block in page.notification_banner %}
            {% include_block block %}
        {% endfor %}
    {% endif %}
{% endblock %}

<!-- Floating Button (Fixed Position) -->
<a href="https://wa.link/4ick1r" 
   class="position-fixed d-flex align-items-center justify-content-center bg-white rounded-circle shadow p-2 whatsapp-btn"
   style="bottom: 20px; right: 20px; z-index: 1000; transition: all 0.3s ease;"
   target="_blank" 
   rel="noopener noreferrer">
   <span class="whatsapp-tooltip">Chat with us!</span>
   <img src="../../../media/images/2496112.png" alt="Chat on WhatsApp" width="35" height="35" style="transition: all 0.3s ease;">
</a>
    {% if page.header %}
        {% for block in page.header %}
        {% include_block page.header with template="blocks/hero_carousel_block.html" %}        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                
            {% for block in page.main_body %}
                {% if block.block_type == 'body' %}
                <div class="card bg-primary-light border-left-5 border-top-5 border-right-5 border-bottom-5 border-primary rounded my-4 shadow-sm">
                    <div class="card-body">
                        {% include_block block %}
                    </div>
                </div>
                {% else %}
                {% include_block block %}
                {% endif %}
            {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}