{# In your Wagtail project's templates directory, create a folder named 'blocks' #}
{# Inside the 'blocks' folder, create a file named 'image_and_text_block.html' #}

{% load wagtailimages_tags static %}

<link rel="stylesheet" href="{% static 'block/css/main-person.css' %}">

<div class="main-person-section">
    <div class="image-text-block {{ value.background_color }}">
        <div class="image-container">
            {% image value.image width-800 format-webp alt=value.name class="person-image" %}
        </div>
        <div class="text-container">
            {% if value.title %}
                <h4 class="title">{{ value.title }}</h4>
            {% endif %}
            <h3 class="name">{{ value.name }}</h3>
            <div class="body-text">{{ value.text }}</div>
        </div>
    </div>
</div>

